body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} /* обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
} /* обнулення базових властивостей у посилань */
a {
  text-decoration: none;
} /* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
} /* Властивості для обнулення курсиву address */
address {
  font-style: normal;
}
/**--HEADER--*/

.container {
  /* max-width: 1158px;
  padding: 0 15px 0 15px; */
   width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* MOB-MENU */
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
height: 100%;
background-color: #fff;
padding-left: 16px;
display: flex;
flex-direction: column;
justify-content: space-between;
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.mob-menu-list {

padding-top: 72px;
}
.mob-menu-list-items:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mob-adress{
  margin-top: 168px;
}

.mob-address-list-items,
.mob-address-list {
 display: flex;
flex-direction: column;
justify-content:space-between;
  gap: 24px;
}
.mob-address-list-items {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;

}
.mob-adress-list-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soc-list {
display: flex;
    align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.mob-adress-list-link:hover,
.mob-adress-list-link:focus {
  color: #404bbf;
}
.mob-soc-link {
  fill: transparent;
}
.mob-image-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soc-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* END MOB-MENU */
.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.hader-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  
  
}



.header-logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
    padding: 17px 0;      /* корректировка для моб */
}
.header-list {
   display: none;
}
.header-container {
  display: flex;
  padding: 0 15px 0 15px;
  align-items: center;
  justify-content: space-between;
}
.header-list-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.adress {
   display: none;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adress-list-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-link:hover,
.adress-list-link:focus {
  color: #404bbf;
}
.address-list-items {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



.open-menu-btn{
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  cursor: pointer;
}

/**-------------------*/

/*--HERO--*/
.hero {
  background: #2e2f42;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 72px 0;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-image-mob-2x.jpg);
    }
  }
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 72px;
  max-width: 216px;
  margin: 0 auto;
}
.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px 16px;

  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* SECTION FEATURES*/

.features {
  padding: 96px 0 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-icon-top {
  display: none;
}

.features-list-title {
  font-weight: 700;
  font-size: 32px;
  /* line-height: 1.2; */
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 8px;
}

.features-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------------------*/

/*OUR TEAM*/
.team {
  background-color: #f4f4fd;
  /* padding: 120px 0 120px; */
  padding: 96px 0 96px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-name-job {
  padding: 32px 0 32px;
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-icon {
  width: 16px;
  height: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 8px;
}
.team-list {
  background-color: #f4f4fd;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-list-items {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-image-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team-soc-link {
  fill: transparent;
}

.team-image-link:hover,
.team-image-link:focus {
  background-color: #404bbf;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/*---------------*/

/*--Portfolio--*/
.portfolio {
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
} 
.portfolio-list-items {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-items :hover .portfolio-items-cartka {
  transform: translatey(0);
}
.portfolio-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-items-cartka {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-items-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*------------------*/

/*--footer--*/
.footer {
  background: #2e2f42;
  padding: 96px 0;
 
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
 }

.logo-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.footer-logo {
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc-list {
display: flex;
justify-content: center;
gap: 16px;
}
.footer-title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
}
.footer-image-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-image-link:hover,
.footer-image-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
  background-position: center center;
}

.title-subscribe {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form::placeholder {
  font-size: 12px;
  color: #f4f4fd;
  align-items: center;
  padding-top: 8px;
}
.footer-mob-form{

  margin-bottom: 16px;
  
  
}
.footer-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  }

.footer-email {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 0 auto;
  padding-left: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn {
  
  display: flex;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.footer-btn-icon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

/*--Modal--*/
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
}

.modal-close-btn {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
  
}

.modal-input-wrap {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-form {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  outline: transparent;
}
.modal-input-one {
  position: relative;
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}
.modal-label:focus {
  border-color: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-form-com {
  margin-bottom: 16px;
}
.modal-form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  outline: transparent;
  background: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-radio {
  margin-bottom: 24px;
  margin-top: 22px;
}
.label-span-privacy {
  display: inline-flex;
}
.contact-form-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 20px;
}
.check-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.contact-form-privacy span {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;

  align-items: center;
  justify-content: center;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkboks:checked + .contact-form-privacy span {
  background-color: #404bbf;
  bottom: none;
  fill: #f4f4fd;
  border: none;
}

.modal-form-massage:focus {
  border-color: #4d5ae5;
}
.contact-form-btn {
  display: block;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  align-items: center;
  cursor: pointer;
  max-width: 0 auto;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-color: #4d5ae5;
  border: 1px solid #404bbf;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hader-logo{
    margin-right: 120px;
  }
  .header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  bottom: -1px;
}

.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.features-list-title{
text-align:left;
}
  .header-list {
  display: flex;
  gap: 40px;
  padding: 24px 0 24px; 
}
.open-menu-btn{
  display: none;
}
.adress{
  display: block;
}
.adress-list-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-link:hover,
.adress-list-link:focus {
  color: #404bbf;
}
.address-list-items {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #434455;}
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  

  .features-list-items {
    width: calc((100% - 24px) / 2);
    gap: 24px 72px;
  }
  
  /* ----OUR TEAM--- */
  .team-list {
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-tab.jpg);
    max-width: 738px;
  }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-image-tab-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
    max-width: 496px;
  }
  .features-list {
  gap: 24px;
  
}
  .portfolio-list-items {
  width: calc((100% - 24px) / 2);
  }

  .modal {
  width: 408px;
  min-height: 584px;}

           /* FOOTER */
.footer{
  padding-top: 96px; 
  padding-bottom: 96px;
}
.container-footer{
  display: flex;
  align-items: baseline;
  padding-left: 108px;
  flex-wrap: wrap;
  gap:72px 24px;
  flex-direction: row;
}

.logo-left{
  align-items: flex-start; 
}

.title-subscribe{
  text-align:left;
}
.footer-form{
  flex-direction: row;
  gap: 24px;
  }

.foter-input{
  display: flex;
  flex-direction: column;
}
.footer-title{
text-align:left;
}
  }

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
.container-footer{
  gap: 0px;
}

  .header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}
  
 .hader-logo {
margin-right: 76px;}

.address-list {
  flex-direction: row;
  gap: 40px;
}
.address-list-items {
  font-size: 16px; 
  line-height: 1.5;
}
  .features {
    padding: 120px 0 120px;
  }

  .features-icon-top {
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }
  .features-icon {
    fill: transparent;
  }
  .features-list-items {
    width: calc((100% - 72px) / 4);
  }
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list-text {
    font-weight: 400;
  }
  /* ----OUR TEAM--- */
  .team-list-items {
    width: calc((100% - 72px) / 4);
  }
  .features-list {
    gap: 24px;
  }
  /* ---HERO--- */
  .hero {
     background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg.jpg);
    padding: 188px 0;
    max-width: 1440px;
  }
  .hero-title {
    max-width: 496px;
    margin: 0 auto;
   
    padding-bottom: 48px;
    
}
.portfolio-list-items {
  width: calc((100% - 48px) / 3);}

  .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.logo-left{
 margin-right: 120px;
}
.footer-media{
  margin-right: 80px;
}

}